body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}
header {
  background-color: #87509c;
  height: 80vh;
  position: relative;
}
#menu a {
  color: #ffffff;
  margin: 0 10px;
  padding: 5px 10px;
  text-transform: uppercase;
}
#menu a:hover {
  background-color: #643a79;
  padding: 5px 10px;
  border-radius:5px;
}
.active {
  background-color: #643a79;
  padding: 5px 10px;
  border-radius:5px;
}

.header-text  {
  color: #ffffff;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50% , -50%);
}
.header-text p {
  font-size: 33px;
}
.header-btn {
  font-size: 20px;
  border: none;
  background-color: #eb7d4b;
  border-bottom: 5px solid #c86a40;
  color: #ffffff;
  font-weight: 600;
  margin-top: 35px;
  text-transform: uppercase;
}










.
